<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Cache" connectionString="Server=localhost; Port=1972; Namespace=USER;Password=SYS; User ID=_SYSTEM;" providerName="InterSystems.Data.CacheClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="InterSystems.Data.CacheClient"/>
      <add name="InterSystems CacheClient" invariant="InterSystems.Data.CacheClient" description="Data Provider for InterSystems Cache"
        type="InterSystems.Data.CacheClient.CacheFactory, InterSystems.Data.CacheClient"/>
    </DbProviderFactories>
  </system.data>
</configuration>