**/obj/
*.cache
!*.cache/
RecipesSearch/RecipesSearch.Crawler/obj/Debug/RecipesSearch.SitePagesImporter.csprojResolveAssemblyReference.cache
RecipesSearch/RecipesSearch.Crawler/obj/Debug/RecipesSearch.SitePagesImporter.csprojResolveAssemblyReference.cache
*.dll
*.pdb
