<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/> 
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
    <targets>
      <target name="traceLogFile" xsi:type="File" fileName="C:\RecipesSearchLogs\Importer\Trace.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message}"/>
      <target name="infoLogFile" xsi:type="File" fileName="C:\RecipesSearchLogs\Importer\Info.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message}"/>
      <target name="warnLogFile" xsi:type="File" fileName="C:\RecipesSearchLogs\Importer\Warn.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message}"/>
      <target name="fatalLogFile" xsi:type="File" fileName="C:\RecipesSearchLogs\Importer\Fatal.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message}"/>
    </targets>

    <rules>
      <logger name="*" level="Trace" writeTo="traceLogFile" />
      <logger name="*" level="Info" writeTo="infoLogFile" />
      <logger name="*" level="Warn" writeTo="warnLogFile" />
      <logger name="*" level="Fatal" writeTo="fatalLogFile" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="Cache" connectionString="Server=localhost; Port=1972; Namespace=USER;Password=SYS; User ID=_SYSTEM;" providerName="InterSystems.Data.CacheClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
