<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="Cache" connectionString="Server=192.81.221.127; Port=1972; Namespace=USER;Password=5hbSVhGcNOxSVVeMArIB; User ID=Admin;" providerName="InterSystems.Data.CacheClient" />
  </connectionStrings>

  <appSettings>
    <add key="BaseURL" value="http://192.81.221.127:57772" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Username" value="Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="5hbSVhGcNOxSVVeMArIB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="http://recipes.somee.com/ImporterService/ImporterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImporterService"
        contract="ImporterService.IImporterService" name="BasicHttpBinding_IImporterService"
        xdt:Transform="Replace"/>
     <endpoint address="http://recipes.somee.com/ImporterService/BuilderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuilderService"
        contract="BuilderService.IBuilderService" name="BasicHttpBinding_IBuilderService" 
        xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>

</configuration>
