<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="SiteData" connectionString="workstation id=RecipesSearch.mssql.somee.com;packet size=4096;user id=killerDJO2_SQLLogin_1;pwd=obt21nyoqv;data source=RecipesSearch.mssql.somee.com;persist security info=False;initial catalog=RecipesSearch" providerName="System.Data.SqlClient" />
    <add name="Cache" connectionString="Server=192.81.221.127; Port=1972; Namespace=USER;Password=5hbSVhGcNOxSVVeMArIB; User ID=Admin;" providerName="InterSystems.Data.CacheClient" />
  </connectionStrings>

  <appSettings>
    <add key="BaseURL" value="http://192.81.221.127:57772" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Username" value="Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="5hbSVhGcNOxSVVeMArIB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>
